
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomVariable</title>
</head>
<body>
    <div> 
        <div>Controller: @ViewBag.controller</div>
        <div>Action: @ViewBag.action</div>
        <div>CustomVariable: @ViewBag.CustomVariable</div>
        <div>Url: @ViewBag.url</div>
    </div>
</body>
</html>
