
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionName</title>
</head>
<body>
    <div> 
        <div>This controller is : @ViewBag.controller</div>
        <div>This action is : @ViewBag.action</div>
        <div>Gowno : @ViewBag.msg</div>
    </div>
</body>
</html>
